<div class="mt-4">
    <h3>
        Đăng khoá học
    </h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" >Tên khoá học</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="desciption" >Mô tả</label>
            <input type="text" class="form-control" id="desciption" name="description">
        </div>

        <div class="mb-3">
            <label for="videoID" >Video ID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>

        <div class="mb-3">
            <label for="level" >Trình độ</label>
            <input type="text" class="form-control" id="level" name="level">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm khoá học</button>
    </form>
</div>